---
permalink: /evolution-of-code-editors
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include analytics.html %}
    <meta charset="UTF-8">
    <meta name="description" content="Modern code editors have come a long and interesting way to become such helpful tools. Let's see how they evolved from just switches and cables.">
    <meta name="keywords" content="editor, code, computer, evolution">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evolution of Code Editors</title>
    <link rel="icon" type="image/x-icon" href="./content/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 w-full">
    {% include header.html %}
    <div id="content" class="mx-auto pt-12 w-full xl:w-3/5 max-xl:w-4/5">
    <nav class="hidden sm:block w-2/12 pt-20 fixed top-0 left-0 xl:ml-50 2xl:ml-80 ml-10 w-40 z-0">
        <ul>
            <li id="first-input-methods-link"><a href="#first-input-methods" class="block py-2 text-gray-800 hover:text-blue-500">First input methods</a></li>
            <li id="line-editors-link"><a href="#line-editors" class="block py-2 text-gray-800 hover:text-blue-500">Line editors</a></li>
            <li id="fullscreen-editors-link"><a href="#fullscreen-editors" class="block py-2 text-gray-800 hover:text-blue-500">Full-screen editors</a></li>
            <li id="terminal-ides-link"><a href="#terminal-ides" class="block py-2 text-gray-800 hover:text-blue-500">Terminal IDEs</a></li>
            <li id="graphical-ides-link"><a href="#graphical-ides" class="block py-2 text-gray-800 hover:text-blue-500">Graphical IDEs</a></li>
            <li id="sublime-text-link"><a href="#sublime-text" class="block py-2 text-gray-800 hover:text-blue-500">Sublime Text</a></li>
            <li id="vs-code-link"><a href="#vs-code" class="block py-2 text-gray-800 hover:text-blue-500">Vs Code</a></li>
            <li id="jetbrains-link"><a href="#jetbrains" class="block py-2 text-gray-800 hover:text-blue-500">JetBrains IDEs</a></li>
            <li id="ai-assistents-link"><a href="#ai-assistents" class="block py-2 text-gray-800 hover:text-blue-500">AI code assistants</a></li>
        </ul>
    </nav>
    <div class="w-full sm:w-10/12 sm:pl-8 sm:ml-40 pb-10 px-2 sm:px-0">
        <header class="py-10">
            <h1 class="text-4xl font-bold">Evolution of Code Editors</h1>
        </header>
        <article class="text-start text-xl prose">
            <section id="first-input-methods">
                First computers were controlled by plugging in cables, later this process evolved into toggling switches.
                <div class="flex justify-center pt-4">
                    <div class="w-1/2 mr-4">
                        <img class="max-h-full mx-auto h-32 sm:h-56" src="./content/evolution/images/eniac.png" alt="ENIAC computer">
                        <figcaption class="text-sm pt-1 text-gray-500 text-center">ENIAC</figcaption>
                    </div>
                    <div class="w-1/2 ml-4">
                        <img class="max-h-full mx-auto h-32 sm:h-56" src="./content/evolution/images/manchester-baby.png" alt="Manchester Baby computer">
                        <figcaption class="text-sm pt-1 text-gray-500 text-center">Manchester Baby</figcaption>
                    </div>
                </div>
                When computers developed, programs became more complex and required new input methods.
                Punch cards are actively used for data input at that time.
                <div class="py-6">
                    <img class="text-center mx-auto h-48 sm:h-56" src="./content/evolution/images/punch-card.png" alt="Punch card">
                    <figcaption class="text-sm text-gray-500 text-center">Punch card</figcaption>
                </div>
                They used a binary system, one could just punch holes in the right places and then plug cards into the machine.
                Programs were stored as a sequence of these cards.
                <div class="py-8">
                    <img class="text-center mx-auto h-64 sm:h-96" src="./content/evolution/images/punch-card-machine.webp" alt="Punch card machine">
                    <figcaption class="text-sm text-gray-500 text-center">Punch card machine</figcaption>
                </div>
                For serious software stacks of cards can be really big.
                It was hard to manage and change hundreds of cards, so input methods evolved and programming languages appeared.
            </section>
            <section id="line-editors" class="pt-10">
                Next step was line editors.
                Instead of working with the whole file like in modern editors - you just choose a number of line and modify only its content.
                Most popular were ED and SOS editors.
                They could be used even without any screen, just with a keyboard.
            </section>
            <section id="fullscreen-editors" class="pt-10">
                Then TECO editor appeared and later inspired Emacs.
                At the same time, Vi came out.
                This started first editor battle that continues till today.
                If you google 'vi' - google suggest you 'emacs' and vice versa.
                <div class="flex justify-center py-4">
                    <div class="w-1/2">
                        <img class="max-h-full pr-2 sm:mx-auto" src="./content/evolution/images/google-vi.png" alt="screenshot of googling Vi">
                    </div>
                    <div class="w-1/2">
                        <img class="max-h-full pl-2 sm:mx-auto" src="./content/evolution/images/google-emacs.png" alt="screenshot of googling Emacs">
                    </div>
                </div>
                These editors were upgraded line-editors and called full-screen, because they were oriented 
                for working on display and could show whole document on the screen, not just a line.
                Also they have additional features like shortcuts, commands and supported macroses.
                Vi evolved into Vim which is popular even now.
                <div class="py-6">
                    <img class="text-center mx-auto h-72 sm:h-96" src="./content/evolution/images/vim.png" alt="Vim editor interface">
                    <figcaption class="text-sm text-gray-500 text-center">Vim interface in modern terminal</figcaption>
                </div>
            </section>
            <section id="terminal-ides">
                In the 80s, the first terminal Integrated Development Environments like Smalltalk-80 and Turbo Pascal.
                They were more user-friendly than casual code editors and offered built-in tools for work with programming languages like
                 debugger, integrated terminal, compiler, code highlighting.
                 <div class="py-8">
                    <img class="text-center mx-auto h-60 sm:h-96" src="./content/evolution/images/turbo-pascal.png" alt="Turbo Pascal IDE">
                    <figcaption class="text-sm text-gray-500 text-center pt-1">Turbo Pascal interface</figcaption>
                </div>
            </section>
            <section id="graphical-ides" class="pt-2">
                Later in the 90s when computer mouses became popular, instead of terminal came IDEs
                 with graphical interfaces like Visual Studio, Eclipse, NetBeans.
                 They also offered more tools for refactoring, formatting, and project setup. These editors have a bunch of different plugins as well and you could customize them according to personal needs.
                <div class="py-8">
                    <img class="text-center mx-auto h-72 sm:h-96" src="./content/evolution/images/eclipse.png" alt="Eclipse IDE">
                    <figcaption class="text-sm text-gray-500 text-center pt-1">Eclipse interface</figcaption>
                </div>
            </section>
            <section id="sublime-text" class="pt-2">
                Next thing that is worth mentioning - Sublime Text.
                It was an answer to IDEs complexity.
                It combines best from code editor and IDEs, removing all unnecessary stuff that IDEs were overflowed with.
                On top of that, Sublime Text had support for all popular programming languages.
                All these made Sublime the ultimate lightweight tool loved by many programmers.
                <div class="py-8">
                    <img class="text-center mx-auto h-64 sm:h-96" src="./content/evolution/images/sublime.png" alt="Sublime Text">
                    <figcaption class="text-sm text-gray-500 text-center pt-1">Sublime text interface</figcaption>
                </div>
            </section>
            <section id="vs-code" class="pt-2">
                Next important step is Vs Code.
                It also supports all languages and approaches the lightweight of Sublime, but moves more to IDEs side.
                By default, Vs code is pretty simple, but it is highly customizable and has extensions
                 for pretty much everything because of its huge user base.
                 You can make any setup you want from Vs Code.
                 It is the most popular code editor among developers now.
                 <div class="py-8">
                    <img class="text-center mx-auto h-72 sm:h-96" src="./content/evolution/images/vs-code.png" alt="Vs Code">
                    <figcaption class="text-sm text-gray-500 text-center">Vs Code interface</figcaption>
                </div>
            </section>
            <section id="jetbrains" class="pt-2">
                Another significant player that can be an alternative for Vs Code - JetBrains with their IDEs.
                They have different solutions for popular programming languages.
                Instead of Vs Codes' lightweight and customization abilities, IDEs from JetBrains
                 offer you more and better tools for working with concrete language,
                  because they are out of the box configured for only one language.
                  <div class="py-8">
                    <img class="text-center mx-auto h-60 sm:h-96" src="./content/evolution/images/pycharm.png" alt="PyCharm">
                    <figcaption class="text-sm text-gray-500 text-center pt-1">PyCharm interface (IDE for Python from JetBrains)</figcaption>
                </div>
                <p>
                    Vs Code is like a multitool that can help you with all kinds of tasks,
                    but if you need to do only certain types of tasks, for example assembly furniture you
                    may want to use a screwdriver instead of multitool.
                </p>
            </section>
            <section id="ai-assistents" class="pt-10">
                Now the IT industry is moving to better utilize AI for doing the job more efficiently and so are code editors.
                AI code assistants popping up in many forms - plugins for popular IDEs, web services, and independent programs.
                The most popular now are Github Copilot, amazon Codewhisperer, Tabnine, Codium.
                Vs Code and JetBrains IDEs have plugins that integrate assistants to your editor, if you are looking for
                 an independent IDE one of the most popular now is Cursor.
            </section>
        </article>
    </div>
    </div>
    {% include footer.html %}
</body>
</html>
