---
permalink: /first-computer-bug
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include analytics.html %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Funny story about the first computer bug that was logged. Turned out the problem in computer's behavior was caused by a real Moth.">
    <meta name="keywords" content="bug, computer, first">
    <title>World's First Computer Bug</title>
    <link rel="icon" type="image/x-icon" href="./content/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 w-full">
    {% include header.html %}
    <div id="content" class="mx-auto pt-20 w-full xl:w-2/5 pb-10 text-xl px-2 sm:px-0">
        <header class="pb-10">
            <h1 class="text-4xl font-bold">World's First Computer Bug</h1>
        </header>
        <article class="text-start prose">
            Bug is an error in computer software that causes it to produce an incorrect or unexpected result. I am pretty sure that
            if you tried to write a code - you experienced bugs in your programs. But have you ever wondered what the first computer
            bug looked like?<br>
            Like this:
            <img class="h-32 pl-20" src="./content/first-bug/images/moth.png" alt="Moth">
            <section class="pt-8">
                <p>
                    On September 9, 1947, the world's first computer bug was reported. The team of computer scientists and engineers at
                    Harvard University, found that their computer Mark II, was delivering consistent errors. When they opened the computer
                    to check the hardware - they found a problem. Turns out it was a real moth that was trapped inside the computer and
                    disrupted electronics.

                </p>
                <img class="text-center mx-auto h-60 sm:h-96 py-4" src="./content/first-bug/images/computer.png" alt="Harvard's Mark 2 computer and team">
            </section>
            <section class="pt-8">
                <p>
                    Actually the term ‘bug’ existed long before computers. It has been used by engineers to describe defects in products
                    since the 1870s. For example Thomas Edison mentioned it in his letter about telephones in 1878.
                    That’s why team members that found moth in the computer thought that it’s funny and one of them even taped an insect on
                    the logbook. That is the picture of the first computer bug report.
                </p>
                <img class="text-center mx-auto h-96 py-4" src="./content/first-bug/images/computer-bug.jpg" alt="Bug report with moth taped to the journal">
            </section>
        </article>
    </div>
    {% include footer.html %}
</body>
</html>
