---
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include analytics.html %}
    <script type="application/ld+json">
        {
          "@context" : "https://schema.org",
          "@type" : "WebSite",
          "name" : "Once in Programming",
          "url" : "https://onceinprogramming.com/"
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Programming blog with interesting stories and tutorials.">
    <title>Once in Programming</title>
    <link rel="icon" type="image/x-icon" href="/content/logo.png">
    <link rel="canonical" href="https://onceinprogramming.com"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    {% include header.html %}
    <div class="mx-auto w-full xl:w-3/5 pt-16">
    <div class="container mx-auto text-center">
        <img src="/content/main/banner.png" class="mx-auto h-60 sm:hidden" alt="Ocean, beach and man with laptop">
        <img src="/content/main/banner-wide.png" class="mx-auto h-96 hidden sm:block" alt="Ocean, beach and man with laptop">
        <h1 class="text-4xl font-bold pt-4">Once Upon a Time... in Programming</h1>
    </div>

    <div class="container mx-auto py-2 sm:py-8 px-2 sm:px-0">
        <div class="mb-8">
            <p class="text-xl pt-4">
                A blog with interesting facts and stories related to programming.
                Sometimes here you can find not only entertainment content but something actually useful
                like tutorials or maybe even programming news. If you want more info about the blog check the <a class="text-indigo-500 hover:underline" href="/about">About</a> section.
                Otherwise, enjoy latest <a href="#articles">articles ⬇️</a>
            </p>
        </div>
        <h2 id="articles" class="text-2xl font-bold pt-6">Content</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 pt-4">
            <a href="./y2k-bug" class="bg-white rounded-lg shadow-md">
                <div class="p-6">
                    <h2 class="text-xl font-semibold text-gray-800 mb-2">Y2K Bug (Year 2000 problem)</h2>
                    <img src="/content/y2k-bug/main.png" alt="Thumbnail of article: Y2K Bug" class="w-full h-48 object-cover object-center rounded-md">
                </div>
            </a>
            <a href="./evolution-of-code-editors" class="bg-white rounded-lg shadow-md">
                <div class="p-6">
                    <h2 class="text-xl font-semibold text-gray-800 mb-2">Evolution of Code Editors</h2>
                    <img src="/content/main/thumbnails/evolution-code-editors.png" alt="Thumbnail of article: Evolution of Code Editors" class="w-full h-48 object-cover object-center rounded-md">
                </div>
            </a>
            <a href="./bugs-turned-into-features" class="bg-white rounded-lg shadow-md">
                <div class="p-6">
                    <h2 class="text-xl font-semibold text-gray-800 mb-2">Bugs turned into Features</h2>
                    <img src="/content/main/thumbnails/bugs-turned-into-features.png" alt="Thumbnail of article: 7 times Bug turns into a Feature" class="w-full h-48 object-cover object-center rounded-md">
                </div>
            </a>
            <a href="./most-expensive-mistakes" class="bg-white rounded-lg shadow-md">
                <div class="p-6">
                    <h2 class="text-xl font-semibold text-gray-800 mb-2">5 Most Expensive Mistakes</h2>
                    <img src="/content/main/thumbnails/mistakes.png" alt="Thumbnail of article: World's First Computer Bug" class="w-full h-48 object-cover object-center rounded-md">
                </div>
            </a>
            <a href="./first-computer-bug" class="bg-white rounded-lg shadow-md">
                <div class="p-6">
                    <h2 class="text-xl font-semibold text-gray-800 mb-2">World's First Computer Bug</h2>
                    <img src="/content/main/thumbnails/first-computer-bug.jpg" alt="Thumbnail of article: World's First Computer Bug" class="w-full h-48 object-cover object-center rounded-md">
                </div>
            </a>
        </div>
        <h2 class="text-2xl font-bold pt-10">Youtube Channel</h2>
        <p class="text-xl pt-4">
        I also have youtube channel, where you can find content aimed more at entertainment.<br>
        If you interested in that - make sure to Subscribe.</p>
        <a href="https://www.youtube.com/@onceuponatimeinprogramming" target="_blank"><img class="h-40 pl-10" src="/content/yt.png" alt="Youtube logo"></a>
    </div>
    </div>
    {% include footer.html %}
</body>
</html>
