---
permalink: /most-expensive-mistakes
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>5 Most Expensive Mistakes in Programming</title>
    <link rel="icon" type="image/x-icon" href="./content/logo.png">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
{% include analytics.html %}
<body class="bg-gray-100 w-full">
    <div id="content" class="mx-auto w-full xl:w-2/5 pb-10 text-lg px-2 sm:px-0">
        {% include main-page-button.html %}
        <header class="py-10">
            <h1 class="text-4xl font-bold">5 Most Expensive Mistakes in Programming</h1>
        </header>
        <article class="text-start prose">
            Bugs are common in software. People tend to make mistakes. However - majority of bugs are detected during the
            development or testing process. Very few bugs get to prod, but there is always a chance even with a big team of
            professionals working on the project. Lets see 5 programmer’s mistakes that end up causing the greatest financial
            losses.
            <section class="pt-8">
                <h2 class="text-2xl font-bold">Ariane 5 Flight 501 - $370 million<h2>
                <p class="pt-2">
                    In June 1996, the European Space Agency launched flight 501 of the rocket Ariane 5.
                    It was supposed to deliver payloads into orbit.
                    The Ariane 5 was reusing old software from Ariane 4. While converting data and storing them in variables, horizontal
                    acceleration went higher than the system could process and the computers crashed. It was unprotected because Ariane 4
                    couldn't possibly manage to reach values that high. The rocket went off its path, and eventually was self-destructed 37
                    seconds after launch.
                    The failure resulted in a loss of more than $370 million dollars.
                </p>
                <img class="text-center mx-auto h-96 py-6" src="./content/most-expensive-mistakes/images/ariane5.png" alt="Ariane 5 rocket on launch station">
            </section>
            <section class="pt-8">
                <h2 class="text-2xl font-bold">Knight Capital Group Stocks Trading Bug - $440 million<h2>
                <p class="pt-2">
                    Knight Capital Group was a big trading company. In August 2012 they upgraded trading software. Unfortunately there was a
                    glitch in the new software. In about 30 minutes the company lost over 440 million dollars. This is not counting their
                    stocks that went down by 75% in the next two days due to this. It was the end of Knight Capital Group.
                </p>
                <img class="text-center mx-auto h-96 py-6" src="./content/most-expensive-mistakes/images/kcg-stocs.jpg" alt="Knight Capital Group stocks price graph">
            </section>
            <section class="pt-8">
                <h2 class="text-2xl font-bold">Intel Pentium FDIV bug - $475 million<h2>
                <p class="pt-2">
                    In 1994, an error in the Pentium processor chip caused minor miscalculation when dividing floating numbers after 4 or 5
                    decimal points. While bug was very rare and wouldn’t have affected the majority of people, after information got into
                    the media people started claiming replacements. Intel estimated losses in around 475 million dollars.
                </p>
                <img class="text-center mx-auto h-96 py-6" src="./content/most-expensive-mistakes/images/intel-processor.jpg" alt="Intel Pentium processor">
            </section>
            <section class="pt-8">
                <h2 class="text-2xl font-bold">EDS Child Support System for the UK’s CSA - $1 billion<h2>
                <p class="pt-2">
                    In 2004 the UK government started to use a new complex system to manage the operations of the Child Support Agency. This
                    system was implemented by the EDS company. There were major problems with processing cases through this system because
                    of several software problems. All this eventually ended up costing UK’s taxpayers around 1 billion dollars.
                </p>
                <img class="text-center mx-auto h-96 py-6" src="./content/most-expensive-mistakes/images/child-support.png" alt="Child Support">
            </section>
            <section class="pt-8">
                <h2 class="text-2xl font-bold">Year 2000 Bug - $500 billion<h2>
                <p class="pt-2">
                    Y2K problem is a bug across multiple software systems that instead of year stored only 2 last digits. Originally it was
                    used to save memory, but problems appeared when the century changed, because the first 2 digits weren't stored and
                    computers couldn't distinguish the 20th century from the 19th. This could possibly lead to global disaster, but because
                    of massive effort that was put into fixing bug before year 2000 nothing really bad didn’t happen. Cost of fixing this
                    error across all systems is estimated at roughly 500 billion dollars.
                </p>
                <img class="text-center mx-auto h-96 py-6" src="./content/most-expensive-mistakes/images/y2k-bug.webp" alt="Y2K bug example">
            </section>
        </article>
    </div>
    {% include footer.html %}
</body>
</html>
